version: "3.5"
services:
  network-devices-scanner:
    image: charlesomer/network-devices-scanner
    network_mode: host
    volumes:
      - ./network-devices-scanner:/network-devices-scanner
    restart: always
    logging:
      options:
        max-size: "200k"
        max-file: "10"
